<li class="clearfix" data-id="{{ id }}" data-feature-id="{{ feature_id}}">
  <div class="avatar">
    <img src="{{ avatar_url }}" alt=""/>
    <div class="badge {{ subject_type }}"></div>
  </div>
  <a href="{{ feature_url }}">
    <strong>{{ user_name }}</strong> 
    {{ message }}
  </a>
</li>